Theranos.Test-Automation/PSC3SoapAPITesting/PscSoapApiAutomation/Service References/PSC3API/PscService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Theranos.PSC.Model.Perform.VisitReport" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Theranos.PSC.Model.Perform.VisitReport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wsx0038pa.theranos.local/QA.PSC3.Services/PscService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://wsx0038pa.theranos.local/QA.PSC3.Services/PscService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="https://wsx0038pa.theranos.local/QA.PSC3.Services/PscService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Theranos.PSC.Model" />
  <xs:import schemaLocation="https://wsx0038pa.theranos.local/QA.PSC3.Services/PscService.svc?xsd=xsd7" namespace="http://schemas.theranos.com/psc" />
  <xs:simpleType name="FailedNanotainerReasonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Wicking" />
      <xs:enumeration value="AirBubble" />
      <xs:enumeration value="Activation" />
      <xs:enumeration value="GuestClotting" />
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FailedNanotainerReasonType" nillable="true" type="tns:FailedNanotainerReasonType" />
  <xs:complexType name="ArrayOfVisitReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisitReportItem" nillable="true" type="tns:VisitReportItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitReportItem" nillable="true" type="tns:ArrayOfVisitReportItem" />
  <xs:complexType name="VisitReportItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flags" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastUpdatedOn" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Theranos.PSC.Model" minOccurs="0" name="Sex" type="q2:Gender" />
      <xs:element minOccurs="0" name="Status" type="tns:VisitReportStatus" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="VisitCompletedOn" nillable="true" type="q3:DateTimeOffset" />
      <xs:element minOccurs="0" name="VisitId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitReportItem" nillable="true" type="tns:VisitReportItem" />
  <xs:simpleType name="VisitReportStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="NotStarted" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VisitReportStatus" nillable="true" type="tns:VisitReportStatus" />
  <xs:complexType name="GuestVisitReport">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CheckInEndTime" type="q4:DateTimeOffset" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CheckInStartTime" type="q5:DateTimeOffset" />
      <xs:element minOccurs="0" name="CollectionDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCheckInTimeExceeded5Minutes" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPerformTimeExceeded5Minutes" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVisitTimeExceeded5Minutes" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdatedBy" type="ser:guid" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastUpdatedOn" type="q6:DateTimeOffset" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="PerformEndTime" type="q7:DateTimeOffset" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="PerformStartTime" type="q8:DateTimeOffset" />
      <xs:element xmlns:q9="http://schemas.theranos.com/psc" minOccurs="0" name="ReportDetails" nillable="true" type="q9:PatientVisitIssues" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Theranos.PSC.Model" minOccurs="0" name="Sex" type="q10:Gender" />
      <xs:element minOccurs="0" name="Status" type="tns:VisitReportStatus" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="VisitCompletedOn" nillable="true" type="q11:DateTimeOffset" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Theranos.PSC.Model" minOccurs="0" name="VisitContainers" nillable="true" type="q12:ArrayOfVisitContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuestVisitReport" nillable="true" type="tns:GuestVisitReport" />
</xs:schema>